.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 /* ------------------ACA ES TODO DE NAVBAR-------------- */
.custom-appbar{
  background-color: #616bfbe3 !important;
  
}
.custom-appbar:hover{
  background-color: rgba(172, 78, 122, 0.514) !important;
  color: black !important;

}
.carrito{
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 80vh;
  margin: auto !important;
  justify-content: center;
  align-items: center;
  
}
.imagenes{
  width: 100%;
  height: 90%;
  opacity: 0.85 !important;
}
.divItinerary{
  display: flex;
  width: 100%;
  background-image: url(./image/3516906.gif);
  height: 70vh;
  align-items: center;
  justify-content: center;
  margin:auto;
}
div p{
  font-size: 3em;
  font-style: italic;
}

.avatar1{
  width: 3.5rem !important;
  height: 3.5rem !important;
  
}