.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* ------------------ACA ES TODO DE NAVBAR-------------- */
.custom-appbar {
  background-color: #616bfb4d !important;
}
.custom-appbar:hover {
  background-color: rgba(172, 78, 122, 0.514) !important;
  color: black !important;
}
.carrito {
  
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70vh;
  margin: auto !important;
  justify-content: center;
  align-items: center;
  
  background-image: url(https://images.unsplash.com/photo-1624139283061-adee53a59791?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmxhY2slMjBncmFkaWVudHxlbnwwfHwwfHw%3D&w=1000&q=80)!important;
}
.imagenes {
  width: 100%;
  height: 90%;
  opacity: 0.85 !important;
}
.divItinerary {
  display: flex;
  width: 100%;
  background-image: url(./image/3516906.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;


  height: 80vh;
  align-items: center;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
}
div p {

  display: flex;
  flex-direction: column;
  font-size: 3em;
  font-style: italic;
  width: 100%;
  flex-wrap: wrap;
}

.avatar1 {
  width: 3.5rem !important;
  height: 3.5rem !important;
}
