.bodyFormUp {
  display: flex;
    align-items: center;
    background-color: #000;
    display: flex;
    justify-content: center;
    height: 100%;
    flex-grow: 1;
    min-height: 80vh;
    
    
  }
  
  .formUp {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 100%;
    padding: 0px 0px 20px 0px;
    width: 80%;
    justify-content: center;
    margin:auto ;
    margin-top: 15px;
  }
  
  
  .title {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
  }
  
  .subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
  }
  
  .input-containerUp {
    height: 50px;
    position: relative;
    width: 100%;
  }
  
  .ic1Up {
    margin-top: 40px;
  }
  
  .ic2Up {
    margin-top: 30px;
  }
  
  .input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 80%;
  }
  .inputUp {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #808097;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 80%;
  }
  
  .cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
  }
  
  .cut-short {
    width: 50px;
  }
  
  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
  }
  
  .placeholderSignUp {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  
  .input:focus ~ .placeholderSignUp,
  .input:not(:placeholder-shown) ~ .placeholderSignUp {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ .placeholderSignUp {
    color: #808097;
  }
  
  .input:focus ~ .placeholderSignUp {
    color: #dc2f55;
  }
  
  .submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
     outline: 0;
    text-align: center;
    width: 80%;
  }
  
  .submit:active {
    background-color: #06b;
  }
  
  .buttonsocial{ display: flex;
    justify-content: center;
    width: 70%;
    height: 50px;
    margin-bottom: 5px;
    margin-top: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    border: 0px;
    border-radius: 10px !important;
  }
  .my-facebook-button-class{
    background-color: rgb(52, 52, 207);
    color:white;
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 15px;
    
  }
  
  .buttonsocial :nth-child(1){
    margin-right: 0px !important;
    width: 45px !important;
  }
  .callToActionSignup{
    color: white;
    font-size: 2em;
    size: 6rem;
  }
  .callToActionSignup2{
    color: white;
    font-size: 1.5em;
    

  }